<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 示例</title>
</head>

<body>
    <div id="app">
        {{message}}

        <input type="text" v-model="message" name="" id="">
        <input type="button" @click="change" value="click">
        <input type="button" @click="change2" value="click2">
        <ul>
            <li v-for="info in infos">{{info.name}}</li>
        </ul>
        <todo-item></todo-item>
        <todo-item></todo-item>
        <todo-item></todo-item>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    infos: [{
                        name: '鼠标'
                    }, {
                        name: '电脑'
                    }, {
                        name: '手机'
                    }],
                    message: "origin message"
                }
            },
            methods: {
                /**
                 * 几种方法的定义方式
                 */
                change: function () {
                    this.message = 'clicked'
                },
                change2() {
                    this.message = 'clicked2'
                },
            },
        })
        Vue.component('todo-item', {
            template: "<div>this is todo</div>"
        })
        app.message = "out message"
    </script>

</body>

</html>